body {
    margin: 0 0 2em;
    font: 16px "Libre Baskerville", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #666;
}
h1 {
    margin: 1em 0 0;
    font-size: 2em;
}
.header {
    padding-bottom: 1em;
    overflow: hidden;
    color: #FFF;
    background: #967ADC;
}
.container {
    width: 640px;
    margin: 0 auto;
}
#demo {
    margin: 2em 0 0;
    padding: 0.5em;
    height: 80px;
    overflow: auto;
    line-height: 2;
    border: 2px solid #CCD1D9;
    border-bottom-width: 1px;
}
#demo div {
    outline: none;
}
#status {
    margin-bottom: 2em;
    padding: 5px 1em;
    color: #967ADC;
    border: 2px solid #CCD1D9;
    border-top: none;
    background: #EAEAEA;
}

pre {
    padding: 1em !important;
    line-height: 1;
    font: 14px monospace;
    border: 1px solid #CCD1D9 !important;
    border-left: none !important;
    border-right: none !important;
}
